<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/defaultTemplate">
	<head>
		
	</head>
	
	<body>
	<div layout:fragment="content">
		<!--Page Header-->
		<div class="PageHeader">
			<h1>Maggie's Mostly Successful Medical</h1>
		</div>
		<!--Page Content-->
		<div class="BodyParagraph">
			<p>Here at <b>Maggie's Mostly Successful Medical</b> we bring the second best medical procedures from our small village of ten people to the masses. Are our procedures cheap? Yes! Are they scientifically proven to work? Probably! Is there a small chance that you may turn into a frog? Definitely!</p>
			<p>Our staff is caring, smart, and most importantly fun. They love pranks and learning brand new things about medicine that they hadn't know until then. For our doctors and medical personal, medicine isn't as much of a science as it is an art. But don't worry you're in safe hands. As highly trained underwater basket weavers, they know how to get the job done.</p>
		</div>
	</div>
		
	</body>
</html>